<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Old - Categoria</title>
</head>
<body>
    <h3>{{titulo}}</h3>
    <form action="/categoria/criar" method="post">
        <p><label for="nome">Nome</label>
        <input type="text" name="nome" id="nome"></p>

        <p><label for="desc">Descrição</label>
            <input type="text" name="desc" id="desc"></p>
        
        <input type="submit" value="Cadastrar">
    </form>

    <h4>Lista de {{titulo}}</h4>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Deletar</th>
                
            </tr>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nome }}</td>
                    <td>{{ categoria.desc }}</td>
                    <td><a href={{url_for("deletarcategoria",id=categoria.id) }}>Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>