<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Old - Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <div class="container-fluid"> 
        <div class="page-header">
            <h3>{{titulo}}</h3>
        </div>

        <form action="/categoria/criar" method="post">
            <label class="form-label" for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome"></p>

            <label class="form-label" for="desc">Descrição</label>
            <input type="text" class="form-control" name="desc" id="desc"></p>
        
            <button type="submit" value="cadastrar" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <br>
   

    <div class="container-fluid">
        <thead>
            <div class="page-header">Lista de {{titulo}}</div>
                <table class="table-warning">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Deletar</th>
                    </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>
                        <th scope="row">{{ categoria.nome }}</td>
                        <td>{{ categoria.desc }}</td>
                        <td><a href={{url_for("deletarcategoria",id=categoria.id) }}><img class="imglixo" src="{{ url_for('static', filename='lixo.png') }}" alt=""></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            

    </div>
        
</body>
</html>