<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Old - Categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <header>
        <div class="bg-dark collapse show" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">Sobre</h4>
                <p class="text-muted">New Old, Atividades de Internet Ltda. Rua do Catete, 359, Flamengo - 22220-001 - Rio de Janeiro, RJ</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Menu</h4>
                <ul class="list-unstyled">
                  <li><a href={{ url_for("anuncio") }}>Inserir anúncio</a></li>
                  <li><a href={{ url_for("relVendas") }}>Relatório de vendas</a></li>
                  <li><a href={{ url_for("relCompras") }}>Histórico de compras</a></li>
                  <li><a href={{ url_for("logout") }}>Sair</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
            <a href={{ url_for("index") }} class="navbar-brand d-flex align-items-center">
              <strong>NEW OLD</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>






    <div class="container-fluid"> 
        <div class="page-header">
            <h3>{{titulo}}</h3>
        </div>

        <form action="/categoria/criar" method="post">
            <label class="form-label" for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome"></p>

            <label class="form-label" for="desc">Descrição</label>
            <input type="text" class="form-control" name="desc" id="desc"></p>
        
            <button type="submit" value="cadastrar" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
    <br>
   

    <div class="container-fluid d-none">
        <thead>
            <div class="page-header">Lista de {{titulo}}</div>
                <table class="table-warning">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Deletar</th>
                    </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>
                        <th scope="row">{{ categoria.nome }}</td>
                        <td>{{ categoria.desc }}</td>
                        <td><a href={{url_for("deletarcategoria",id=categoria.id) }}><img class="imglixo" src="{{ url_for('static', filename='lixo.png') }}" alt=""></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            

    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>    
</body>
</html>