<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Old - Edição</title>
</head>
<body>
    <h2>Edição de {{titulo}}</h2>
    <form action="/usuario/editar/{{ usuario.id }}" method="post">
        <p><label for="user">Nome</label></p>
        <p><input type="text" id="user" name="user" value="{{ usuario.nome }}"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email" value="{{ usuario.email }}"></p>

        <p><label for="passwd">Senha</label></p>
        <p><input type="text" id="passwd" name="passwd" value="{{ usuario.senha }}"></p>

        <p><label for="end">Endereço</label></p>
        <p><input type="text" id="end" name="end" value="{{ usuario.end }}"></p>

        <input type="submit" value="Alterar">
    </form>

    <a href={{url_for("usuario")}}>Cancelar</a>


</body>
</html>