<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Old - Entrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Cadastro de {{titulo}}</h2>
    <form action="/usuario/criar" method="post">
        <p><label for="user">Nome</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="passwd">Senha</label></p>
        <p><input type="text" id="passwd" name="passwd"></p>

        <p><label for="end">Endereço</label></p>
        <p><input type="text" id="end" name="end"></p>

        <input type="submit" value="Cadastrar">
    </form>
    <h4>Lista de {{titulo}}</h4>
    <table>
        <thead>
            <tr>
                <tr>Nome</tr>
                <tr>E-mail</tr>
                <tr>Senha</tr>
                <tr>Endereço</tr>
                <tr>Deletar</tr>
                <tr>Editar</tr>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.senha }}</td>
                    <td>{{ usuario.end }}</td>
                    <td><a href={{url_for("deletarusuario",id=usuario.id) }}><img class="imglixo" src="{{ url_for('static', filename='lixo.png') }}" alt=""></a></td>
                    
                    <td><a href={{url_for("editarusuario",id=usuario.id) }}><img class="imgeditar" src="{{ url_for('static', filename='editar.png') }}" alt=""></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>